<div>
    <label>{{ 'Search'|t }}</label>
    <input class="search" id ="search_form" type="text"></input>
    <button class="btn_search btn-primary" id="btn_search" type="button">{{ 'Search'|t }}</button>
</div>
<table id="listTable">
    <thead>
        <th>#</th>
        <th>{{ 'Title'|t }}</th>
        <th>{{ 'Body'|t }}</th>
        <th>{{ 'Action'|t }}</th>
    <thead> 
    <tbody>
    </tbody>

</table>


