<div id="form_search">
    <label>{{ 'Search'|t }}</label>
    <input class="search" id ="search_form" type="text"></input>
    <button class="btn_search btn-primary" id="btn_search" type="button">{{ 'Search'|t }}</button>
</div>
<table id="listTable">
    <thead>
        <th width="5%">#</th>
        <th width="20%">{{ 'Title'|t }}</th>
        <th width="">{{ 'Body'|t }}</th>
        <th width="8%">{{ 'Action'|t }}</th>
    <thead> 
    <tbody>
    </tbody>

</table>


