{# <h2>Search Results</h2> #}
{% if articles %}
  {% for article in articles %}
    <div class="blog-post">
        {% if article.image_url %}
          <div class="blog-thumb">
              <img src="{{ article.image_url }}" alt="Article Image">
          </div>
        {% endif %}
        <div class="down-content">
            <h4><a href='/detail/{{ article.nid }}'>{{ article.title }}</a></h4>
              <div class="body_content">
            <p>{{ article.body|striptags }}</p>
        </div>
        <div class="post-options">
            <div class="row">
                <div class="col-6">
                    <ul class="post-tags">
                        <li><i class="fa fa-tags"></i></li>
                        <li><a href="#">Beauty</a>,</li>
                        <li><a href="#">Nature</a></li>
                    </ul>
                    </div>
                <div class="col-6">
                    <ul class="post-share">
                        <li><i class="fa fa-share-alt"></i></li>
                        <li><a href="#">Facebook</a>,</li>
                        <li><a href="#"> Twitter</a></li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
    </div>
  {% endfor %}
{% else %}
  <p>No results found.</p>
{% endif %}


{# {% if articles %}
  {% for article in articles %}
    <h3>{{ article.title }}</h3>
    <p>{{ article.body|striptags }}</p>
    {% if article.image_url %}
      <div class="blog-thumb">
          <img src="{{ article.image_url }}" alt="Article Image">
      </div>
    {% endif %}
  {% endfor %}
{% else %}
  <p>No results found.</p>
{% endif %} #}

{# {% block content %}
  <div class="pagination-search-content">
  </div>
  <div class="pagination_art_search">
    <button id="pagination-previous" disabled>{{ 'Previous'|t }}</button>
    <div id="pagination-numbers">
    </div>
    <button id="pagination-next" disabled>{{ 'Next'|t }}</button>
  </div>
{% endblock %}  #}



