


{% if articles %}
  {% for article in articles %}
    <div class="blog-post">
        {% if article.image_url %}
          <div class="blog-thumb">
              <img src="{{ article.image_url }}" alt="Article Image">
          </div>
        {% endif %}
        <div class="down-content">
            <h4><a href='/{{article.langcode}}/detail/{{ article.nid }}'>{{ article.title }}</a></h4>
              <div class="body_content">
            <p>{{ article.body|striptags }}</p>
        </div>
        <div class="post-options">
            <div class="row">
                <div class="col-6">
                    <ul class="post-tags">
                        <li><i class="fa fa-tags"></i></li>
                        <li><a href="#">{{ article.author }}</a>,</li>
                        <li><a href="#">{{ article.changed|format_date('custom', 'd/m/Y') }}</a></li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  {% endfor %}
{% else %}
  <p>{{ 'No results found'|t }}.</p>
{% endif %}

