{% if articles %}
  {% for article in articles %}
    <div class="blog-post">
        {% if article[0].field_image.entity %}
            <div class="blog-thumb">
                <a href="/detail/{{ article[0].id }}"><img src="{{ file_url(article[0].field_image.entity.fileuri) }}" alt="Article Image"></a>
            </div>
        {% endif %}
            <div class="down-content">
                <h4><a href="/detail/{{ article[0].id }}">{{ article[0].getTitle }}</a></h4>
                    <div class="body_content">
                <p>{{ article[0].body.value|striptags }}</p>
            </div>
            <div class="post-options">
                <div class="row">
                        <div class="col-6">
                            <ul class="post-tags">
                                <li><i class="fa fa-tags"></i></li>
                                <li><a href="#">{{ article[1] }}</a></li>
                                <li>
                                    <a href="#">{{ article[2]|format_date('custom', 'd/m/Y') }}</a>
                                </li>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
    </div>
  {% endfor %}
{% else %}
  <p>{{ 'No results found'|t}}.</p>
{% endif %}